<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span>{{ title | titlecase }}</span>

    <span class="navbar-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateTo('skateboard')">
        <span>Skateboard</span>
      </button>
      <button mat-menu-item (click)="navigateTo('crypto')">
        <span>Crypto</span>
      </button>
      <button mat-menu-item (click)="navigateTo('math')">
        <span>Math</span>
      </button>

    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>